:root {
    --orange-main: #f04e35;
    --orange-background: #fdeded;
}
.detail-article .tags-article span{
    border-radius: 7px !important;
    font-size: 12px !important;
    padding: 0.1rem 0.8rem !important;
    margin-left: 10px;
}

.navbar-site nav div ul .register-author{
    display: flex;
    justify-content: left;
    flex-grow: 1;
}

.navbar-site nav div ul .register-author a{
    background-color: var(--orange-main) !important;
    border: none;
    color: white !important;
}

.page-item.active .page-link{
    background-color: var(--orange-main) !important;
    border: none;
    color: white !important;
}

.detail-article .comment form .submit-comment button{
    background-color: var(--orange-main) !important;
    border: none;
}

.detail-article .tags-article span{
    color: var(--orange-main) !important;
    border: 0.1rem solid var(--orange-main) !important;
    background-color: var(--orange-background) !important;
}
