.mt-90{
    margin-top: 90px !important;
}

.br-10{
    border-radius: 10px !important;
}

.size-avatar{
    height: 40px !important;
    width: 40px !important;
}

body{
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
}
