.mt-90{
    margin-top: 90px !important;
}

.br-10{
    border-radius: 10px !important;
}

.size-avatar{
    height: 40px !important;
    width: 40px !important;
}

body{
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
}

p{
    font-family: vazir !important;
    font-size: 15px;

}

h1,h2,h3,h4,h5,h6{
    font-family: yekan !important;
    font-weight: 600 !important;
}

a{
    font-family: yekan !important;
    font-size: 17px ;
    text-decoration: none !important;
    color: black !important;
}

.fs-12{
    font-size: 12px !important;
}

.opacity-7{
    opacity: 0.7 !important;
}

input ,button{
    font-family: vazir !important;
}

.resize-none{
    resize: none;
}
